<!DOCTYPE html>
<html>
   <body>

      <h3>Alta de Equipos </h3>
      <hr/>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "nombre">Nombre</label><br>
         <input type = "text" name = "nombre" placeholder = "nombre" /><br>

         <label for = "marca">Marca</label><br>
         <input type = "text" name = "marca" placeholder = "Marca" /><br>

         <label for = "modelo">Modelo</label><br>
         <input type = "text" name = "modelo" placeholder = "Modelo" /><br>

         <label for = "n_serie">Número de serie</label><br>
         <input type = "text" name = "n_serie" placeholder = "N serie" /><br>

        <label for = "fecha">fecha de alta</label><br>
         <textarea name = "fecha" placeholder = ""></textarea><br>

         <label for = "observaciones">Observaciones</label><br>
         <textarea name = "observaciones" placeholder = ""></textarea><br>

         <input type = "submit" value = "Submit" />
      </form>

   </body>
</html>
